.container__big-card{
    width: 400px;
    height: 500px;  
    margin-left: 25px;
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card__title{
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold
}

.big-card__description a {
    color: rgb(170, 170, 170);
    margin-top: 10px;
}

.big-card__photo > img{
    width: 100%;
    min-width: 400px;
}